.dropdown, .dropup {
    position: relative;
}

a {
    color: #ffffff !important;
}

@media (min-width: 768px)
{
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
}

a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    color: #ffffff;
}

a {
    position: relative;
    display: block;
    padding: 15px 15px;
    color: #ffffff;
}
[role=button] {
    cursor: pointer;
}