<!-- Time widget -->

<a (click)="onClick()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i
    class="fa fa-clock-o"></i> {{ currentDateTime | timedate: 'extrashort' }}<span class="caret"></span></a>
<ul class="dropdown-menu">
  <li><a href="#">{{ currentDateTime | timedate: 'short' }}</a></li>
  <li role="presentation" class="divider"></li>
  <li><a href="#">{{ currentDateTime | timedate: 'medium' }}</a></li>
  <li role="presentation" class="divider"></li>
  <li><a href="#">{{ currentDateTime | timedate: 'long' }}</a></li>
  <li role="presentation" class="divider"></li>
  <li><a href="#">{{ currentDateTime | timedate: 'extralong' }}</a></li>
  <li role="presentation" class="divider"></li>
  <li><a href="#">Add Another Time Zone</a></li>
</ul>