.dropdown, .dropup, a.dropdown-toggle{
    position: relative;
    color: #ffffff;
}


@media (min-width: 768px)
{
    padding-top: 15px;
    padding-bottom: 15px;
}

a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;

}

a {
    position: relative;
    display: block;
    padding: 15px 15px;

}
[role=button] {
    cursor: pointer;
}