<!-- Site wrapper -->
<div class="wrapper">

  <angsand-top-info-bar></angsand-top-info-bar>

  <!-- =============================================== -->

  <angsand-side-nav-bar></angsand-side-nav-bar>

  <!-- =============================================== -->

  <angsand-main-content-area></angsand-main-content-area>

  <!-- =============================================== -->

  <angsand-site-footer></angsand-site-footer>

  <!-- =============================================== -->

  <angsand-side-control-bar-hidden></angsand-side-control-bar-hidden>

</div>
<!-- ./wrapper -->