<div *ngIf="_activatedRoute.children.length === 0">
  <p>
    Testing out how to use PrimeNG inputs
  </p>
    Username Badge: <br />
    
    <angsand-badge-user Username="This should be an id"></angsand-badge-user>
    <hr />

    Date Badge: <br />
    <angsand-badge-date [_Date]="currDate"></angsand-badge-date>

    <hr />


    Standard Input Text
    <input type="text" pInputText [(ngModel)]="property"/>

    <hr />

    Input Addon
    <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-envelope"></i></span>
        <input type="text" pInputText placeholder="EmailAddress">         
    </div>

    <hr />

    Input Password
    <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
        <input type="password" pPassword placeholder="Password">         
    </div>

    <hr />

    Input Date/Time
    <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-calendar"></i></span>
        <p-calendar [(ngModel)]="date7" [showTime]="true" hourFormat="12"></p-calendar>
    </div>

    <hr />
    
    Input Chekbox
    <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox>

    <hr />

    Input Dropdown
    <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City" optionLabel="name" [showClear]="true" filter="true"></p-dropdown>

    <hr />

    Table Example:
    <p-table [columns]="cols" [value]="cars" [reorderableColumns]="true">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:2.5em"></th>
                <th>Vin</th>
                <th>Year</th>
                <th>Brand</th>
                <th>Color</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car let-columns="columns" let-index="rowIndex">
            <tr [pReorderableRow]="index">
                <td>
                    <i class="fa fa-bars" pReorderableRowHandle></i>
                </td>
                <td>{{car.vin}}</td>
                <td>{{car.year}}</td>
                <td>{{car.brand}}</td>
                <td>{{car.color}}</td>
            </tr>
        </ng-template>
    </p-table>

</div>
<router-outlet></router-outlet>


