<p>
  read-firestore-record-lookup works!
</p>

<input type="text" [(ngModel)]="usernamestring" name="username" placeholder="Username..">
<input type="submit" value="Search" (click)="searchByUsername()">

<ul *ngFor="let item of items">
  <li>
    <strong>{{ item.payload.doc.id}}</strong>
    <br>
    {{ item.payload.doc.data().username}}
    <br>
    {{ item.payload.doc.data().firstname}}
    <br>
    {{ item.payload.doc.data().lastname}}
    <br>
    {{ item.payload.doc.data().email}}
  </li>
</ul>

<input type="text" [(ngModel)]="idstring" name="id" placeholder="ID..">
<input type="submit" value="Search" (click)="searchByID()">